<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- start linking  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <!-- icon -->
    <link rel="icon" href="img/log.png">
    <!-- end linking -->
    <title>Kiếm tiền 4.0 - admin</title>
</head>

<body>
    <!-- start admin -->
    <section id="admin">
        <%- include('partials/sidebar.ejs', {href}) %>
        <!-- start content -->
        <div class="content">
            <!-- start content head -->
            <div class="head">
                <!-- head top -->
                <%-include('partials/head_top.ejs', {name})%>
                <!-- end head top -->
                <!-- start head bottom -->
                <%-include('partials/head_bottom.ejs', {href})%>
                <!-- end head bottom -->
            </div>
            <!-- end content head -->
            <!-- start with the real content -->
            <div id="real">
                <div class="row">
                    <div class="col-12">
                        <div class="card shadow-dark lift">
                            <div class="card-body">
                                <div class="flickity-button-outset p-1" data-flickity='{"draggable": true,"pageDots": true}'>
                                    <% if (listCheck.length == 0) { %>
                                    <div class="wrap-question col-12 p-5" style="width: 100%; text-align: center;color: #7b01e9;">
                                        <h2>HIỆN KHÔNG CÓ BÌNH LUẬN NÀO CẦN DUYỆT!</h2>
                                    </div>
                                    <% } %>
                                    <% for (let i = 0; i<listCheck.length; i++) {
													 let {id, url, username, bonus, noidung} = listCheck[i];
													 bonus = bonus.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
												%>
                                    <div id="form<%-id%>" class="wrap-question col-12 p-5" style="width: 100%;">
                                        <h4 class="card-title text-body">Link bình luận: <a target="_blank" href="<%-url%>" style="text-transform: lowercase; word-wrap: break-word;">CLICK ME</a> </h4>
                                        <p class="card-text" style="text-transform: unset;">
                                            Tên người dùng:
                                            <%-username%>
                                        </p>
                                        <p class="card-text" style="text-transform: unset;">
                                            Số tiền được nhận khi bình luận đúng:
                                            <%-bonus%>đ
                                        </p>
                                        <p class="card-text" style="text-transform: unset;">
                                            Nội dung cần bình luận: <code>
                                                <%-noidung%></code>
                                        </p>
                                        <div style="width: 100%; text-align: center;">
                                            <button onclick="duyet('<%-id%>', true)" class="btn btn-primary mb-3 mt-3" title="Xác nhận đúng và cộng tiền">Bình Luận Đúng</button>
                                            <button onclick="duyet('<%-id%>', false)" class="btn btn-danger">Bình Luận Sai</button>
                                        </div>
                                    </div>
                                    <%}%>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end the real content -->
        </div>
        <!-- end content -->
    </section>
    <!-- end admin -->
    <!-- start screpting -->
    <%-include('partials/modal.html')%>
    <%-include('partials/footer.html')%>
    <!-- <script src="js/highcharts.js"></script>
	 <script src="js/chart.js"></script> -->
    <script src="js/checkcmt.js"></script>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <!-- end screpting -->
</body>

</html>